
    @use '../base/mixins' as m;
    @use '../base/variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    // overflow: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$bg-color;
    color: v.$text-color;
}

p {
    color: antiquewhite;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: v.$fuente_principal;
    // margin: calc(1rem / 2) 0;
    font-weight: 300;
    text-align: center;
    color: white;
    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
section{
    width: 100%;
}