@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

// Colores
$negro:rgb(225, 230, 239);
$bg-color: #469ee2;
$second-bg-color: #bcc7ec;
$text-color: #043ea2;
$main-color: #0054f0;
$grisOscuro: #2868f1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900