@use '../base/mixins' as m;
@use '../base/variables' as v;

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background-color: v.$bg-color;
    & form{
        & .focus{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: v.$bg-color;
                z-index: -1;
                transition: all .5s ease;
            }
            &:hover{
                width: 100%;
        }
        & .textarea-field{
            position: relative;
            margin: .8rem 0 2.7rem;
            display: flex;
            & textarea{
                width: 100%;
                height: 100%;
                padding: 1.6rem;
                font-size: 1.6rem;
                color: v.$text-color;
                background: transparent;
                border-radius: .6rem;
                border: .2rem solid v.$main-color;
                resize: none;
                &::placeholder{
                    color: v.$text-color;
                }
            }
        }
        max-width: 70rem;
        margin: 0 auto;
        text-align: center;
        & .input-box{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            & .input-field{
                position: relative;
                width: 49%;
                margin: .8rem 0;
                & input{
                    width: 100%;
                    height: 100%;
                    padding: 1.6rem;
                    font-size: 1.6rem;
                    color: v.$text-color;
                    background: transparent;
                    border-radius: .6rem;
                    border: .2rem solid v.$main-color;
                    &::placeholder{
                        color: v.$text-color;
                    }
                }

            }
        }
    }
}

