@use '../base/variables' as v;
@use '../base/mixins' as m;

.navbar{
    background: v.$second-bg-color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(179, 172, 172, 0.23);
}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
}
.nav_items a{
    margin: 15px;
    color: rgb(245, 239, 239);
    position: relative;
    text-decoration: none;
    // background-color: red;
    // padding:  3rem 0;
}
.nav_toggle{
    display: none;
    

}

@media (max-width: 600px) {
    .navbar{
        background-color: v.$second-bg-color;

    }
    .nav_items{
       position: absolute;
        top: 60px;
        left: 0;
        background: v.$bg-color;
        display: flex;
        flex-direction: column;
        width: 100%;       
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 999;
        border-radius: 8px;
        
    }
    .nav_items.open{
        transform: translateX(0) !important;
        //left: 65.5rem;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: rgb(77, 125, 172);
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
        
    }
}